name: Create Repacked Patches

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - uses: actions/setup-java@v5
      with:
        distribution: "zulu"
        java-version: "17"

    - name: Download latest revanced-patches
      run: |
        endpoint="https://api.revanced.app/v4/patches"
        # patches.json
        wget "$endpoint/list" -O patches.json
        # rvp
        wget -c $(curl -sL "$endpoint" | jq -r ".download_url")
        echo "PATCHES_VERSION=$(curl -sL "$endpoint/version" | jq -r ".version")" >> $GITHUB_ENV 

    - name: Decompile and recompile revanced-patches jar
      run: |
        old_file=$(find patches*.rvp)
        echo "PATCHES_JAR_FILE=$old_file" >> $GITHUB_ENV
        mkdir rp ; mv $old_file rp ; cd rp
        unzip patches*.rvp ; rm $old_file ; rm -r custom-branding
        cp -r ../custom-branding . ; jar cvf ../$old_file *

    - name: Update README
      run: |
          cd $GITHUB_WORKSPACE
          node gen-readme.js
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add README.md
          git commit -m "Update README.md" || exit 0
          git push

    - name: Get files checksum
      run: |
        json_sha=`sha256sum patches.json | awk '{ print $1 }'`
        jar_sha=`sha256sum ${{ env.PATCHES_JAR_FILE }} | awk '{ print $1 }'`
        echo "PATCHES_JSON_SHA256=$json_sha" >> $GITHUB_ENV
        echo "PATCHES_JAR_SHA256=$jar_sha" >> $GITHUB_ENV

    - name: Upload files to a release
      uses: softprops/action-gh-release@v1
      with:
        body: |
          | Filename | SHA-256 Checksum |
          | --- | --- |
          | `patches.json` | `${{ env.PATCHES_JSON_SHA256 }}` |
          | `${{ env.PATCHES_JAR_FILE }}` | `${{ env.PATCHES_JAR_SHA256 }}` |
        files: |
          patches.json
          ${{ env.PATCHES_JAR_FILE }}
        tag_name: ${{ env.PATCHES_VERSION }}
